src/*.exe
src/chotkocoin
src/chotkocoind
src/test_chotkocoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.chotkocoin

# Compilation and Qt preprocessor part
*.qm
Makefile
chotkocoin-qt
Chotkocoin-Qt.app

# Unit-tests
Makefile.test
chotkocoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
